/* акцент #2196F3 */
/* основной цвет #212121 */
/* вторичный цвет #757575 */
/* белый #FFFFFF */
/* переменный цвет секции #F5F4FA */
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
}
body {
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.image {
    display: block;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Лого */
.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19; 
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo span {
    color: #000000;
}
/* Шапка */
.header {
    border-bottom: 1px solid #ECECEC;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.container.main-header {
    display: flex;
    align-items: center;
}
.site-nav {
    margin-left: 93px;
}
.site-nav.list {
    display: flex;
    margin-left: 0;
}
.site-nav .item:not(:last-child) {
    margin-right: 50px;
}
.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    color: var(--primary-text-color);
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
    position: relative;

    color: var(--accent-color);
}
.site-nav .link.current::after {
    content: ' ';
    display: inline-block;

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}
.contacts {
    margin-left: auto;
}
.contacts .link:not(:last-child) {
    margin-right: 50px;
}
.contacts .link {
    color: var(--secondary-text-color);
    fill: var(--secondary-text-color);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}
.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}
.contacts-icon {
    margin-right: 10px;
}

/* Hero */
.hero {
    background-color: #C4C4C4;
    text-align: center;
}
.hero .overlay {
    height: 600px;
    min-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../images/hero-image.jpg);
}
.hero-title {
    margin-bottom: 30px;

    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.button {
    border: 0;
    border-radius: 4px;
    padding: 10px 32px;
    

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    align-items: center;

    cursor: pointer;
}

/* Секции */
.section {
    padding-bottom: 94px;
    padding-top: 94px;
}
.section.no-padding {
    padding-top: 0;
}
.section:nth-child(4) {
    background-color: var(--secondary-background-color);
}
.section-title {
    margin-top: 0;
    margin-bottom: 50px;

    font-style: normal;
    font-size: 36px;
    text-align: center;
    line-height: 1.16;
}

/* Наши особенности */
.features-heading {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.features-icon {
    display: flex;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 25px 100px;
}
.features-text {
    margin: 0;
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.7;
}
.features.list {
    display: flex;
    justify-content: space-between;
}
.features .item {
    width: 270px;
}

/* Чем мы занимаемся */
.service-area.list {
    display: flex;
    justify-content: space-between;
}
.service-area.item {
    position: relative;
}
.service-area.title {
    margin: 0;

    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase; 
    color: var(--primary-white-color);
}
.service-area.thumb {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
}

/* Наша команда */
.team .card {
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team.list {
    display: flex;
    justify-content: space-between;
}
.teammate {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}
.position {
    margin-top: 0;
    margin-bottom: 16px;

    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center; 
}
.networks.list {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 32px;
    margin-left: 32px;
}
.networks-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #AFB1B8;
}

.networks-item + .networks-item {
    margin-left: 10px;
}
.networks-link:hover, 
.networks-link:focus {
    background-color: var(--accent-color);
    fill: var(--primary-white-color);
}

/* Постоянные клиенты */
.clients.list {
    display: flex;
    justify-content: space-between;
}
.client-item {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    padding: 16px 32px;
    fill: #afb1b8;
}
.client-item:hover,
.client-item:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
    cursor: pointer;
}
/* Подвал */  
.footer {
    background-color: #2F303A;
}
.container.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}

.logo.footer span {
    color: #FFFFFF;
}
.address {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    color: var(--primary-white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
}
.address-contacts {
    margin-top: 9px;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.join-us {
    margin-left: 70px;
    margin-right: auto;
}
.footer-networks.heading {
    margin-top: 12px;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-white-color);
}
.footer-networks.list {
    display: flex;
    align-items: center;
}
.footer-networks.link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--primary-white-color);
}
.footer-networks.item + .footer-networks.item {
    margin-left: 10px;
}
.footer-networks .link:hover, 
.footer-networks .link:focus {
    background-color: var(--accent-color);
}

/* Стили для страницы portfolio.html */
/* Цвет фона объектов #F5F4FA */

/* Кнопки типа проектов */
.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
.filter.list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter .item + .item {
    margin-left: 8px;
}
.filter-button {
    border: 0;
    border-radius: 4px;
    padding: 6px 22px;

    color: var(--primary-text-color);
    background-color: #F5F4FA;    
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;

    cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Список проектов */
.projects.list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.projects .item {
    margin: 15px;
} 
.projects-card {
    position: relative;
}
.projects-thumb {
    position: absolute;
    top: 0;
    left: 0;
    background-color: teal;
}
.card-text {
    padding: 20px 24px;

    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;

}
.projects-name {
    margin: 0;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.projects-type {
    margin: 4px 0 0;

    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.87;
}